# Application Configuration

Application Name: {{ .app.name }}
Application Version: {{ .app.version }}

# Database Configuration

Database Host: {{ .database.host }}
Database Port: {{ .database.port }}
Database User: {{ .database.user }}
Database Password: {{ .database.password }}

